services:
  k5-handbook:
    build: .
    container_name: k5-handbook
    restart: always
    ports:
      - "8083:80"
    environment:
      - NODE_ENV=production
    networks:
      - k5-global-network
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
networks:
  k5-global-network:
    external: true