services:
  k5-handbook:
    build: .
    container_name: k5-handbook
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - k5-global
    # Keine Ports nötig, da der Traffic über das interne Netzwerk läuft

networks:
  k5-global:
    external: true
    name: k5-global-network
