name: Deploy to Server

# ÄNDERUNG: Nur noch manueller Start via GitHub Oberfläche
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          # Was soll auf dem Server passieren?
          script: |
            cd k5-handbook
            git pull origin main
            # Hier das sudo hinzufügen:
            sudo docker-compose up -d --build